html, body {
    top-margin: 80px;
    height: 100%;
    overflow: hidden;
    /*position: fixed;*/
}

html {
    background: url(/static/img/chicago-skyline-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;		   
}


.left { 
	float: left; width: 15%;
	margin-left: 5%;
	height:100%;
	margin-top:5%;
}
.right { 
	float: right; 
	width: 30%; 
	margin-right: 5%;
	margin-top: 5%;
	height: 50%;
    padding: 20px 50px 20px 20px;
    background-color: rgba(0,0,0,0.6);

    overflow: scroll;
    position: static;
} 
.middle { 
	display: inline-block; 
	margin-top:5%;
	width: 30%;
	height: 100%;
    padding: 20px 50px 20px 20px;
    background-color: rgba(0,0,0,0.6);

    overflow: scroll;
    position: static;
	
}

.other_job {
    width: 100%;
    display: inline-block;
    border: 3px rgba(61, 178, 255, 0.8) solid;
    background-color: rgba(240,240,240,1);
    padding: 10px;
    text-align: center;
    margin-top: 15px;
}
.other_job:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 3px rgba(61, 178, 255, 1) solid;
}

.your_job {
    width: 100%;
    display: inline-block;
    border: 3px rgba(61, 178, 255, 0.8) solid;
    background-color: rgba(240,240,240,1);
    padding: 10px;
    text-align: center;
    margin-top: 15px;
}
.your_job:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 3px rgba(61, 178, 255, 1) solid;
}

.other_job_info-info {
    width: 100%;
    display: inline-block;
    border: 3px rgba(61, 178, 255, 0.8) solid;
    background-color: rgba(240,240,240,1);
    padding: 10px;

    border-top:none;
}

.your_job_info-info {
    width: 100%;
    display: inline-block;
    border: 3px rgba(61, 178, 255, 0.8) solid;
    background-color: rgba(240,240,240,1);
    padding: 10px;

    border-top:none;
}

.employer {
	float:left;
	width:30%;
}

.price {

}

.status {
	float:right;
	width: 30%;
}

.employee {
	float:left;
	width:30%;

}

.address {
	float:left;
	width:60%;
}

.your_description {
}

.other_description {
}

.pay_button{
    width: 20%;
    float:right;
}


