#first_task {
	width:500px; 
	height:140px;
	padding:10px; 
	border:5px 
	solid gray; 
	margin:0;
	color: blue;
}

#second_task {
	width:500px; 
	height:140px;
	padding:10px; 
	border:5px 
	solid gray; 
	margin:0;
	color: blue;
}

#third_task {
	width:500px; 
	height:140px;
	padding:10px; 
	border:5px 
	solid gray; 
	margin:0;
	color: blue;
}

.submit-btn {
	float: right;
	vertical-align: top;
}

ul {
	list-style-type: none;
	float: left;
}