<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_task_style.css') }}">

    <title>Request a Task!</title>
  </head>
  <body>
      <div id='cssmenu'>
        <ul>
          <li class='active'><a href="\">TaskMarket</a></li>
   
          <li id="login"><a href='#' onclick="on_login_click()">Login</a></li>
          <li id="profile"><a href='/profile'>Profile</a></li>
          <li><a href='\'>Home</a></li>
        </ul>
      </div>

    <div id = "wrapper">
    <header>
      <div class = "account">
        <p>Hi, <a href="#">{{ User }}</a></p>
      </div>
    </header>
    <div id = "content">
      <h2>Complete the Form Below</h2>
      <div>
        <form>
            <p>Job Title: </p>
            <input id="title-input" class="input-field" type="text" name="title" value="" maxlength = "30">
            <p>Location</p>
            <input class="input-field" type="text" name="location" value="" maxlength="30">
            <p>Payment</p>
            <input id="salary-input" class="input-field" type="number" step="0.01" name="price" value="">
            <p>Description</p>
            <textarea id="descrip-input" name="Text1" cols="40" rows="6"></textarea>
            <input type="button" value="Submit" onclick="add_task()" class="btn">
        </form> 
      </div>
     

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/fb.js') }}"></script>
      <script src="{{ url_for('static', filename='js/create_task.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </body>
</html>
