<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TaskMarket</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/task_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
      </div>
      <a class="navbar-brand" href="#">TaskMarket</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#" onclick="on_login_click()">Login</a></li>
        </ul>
      </div>
    </nav>

    <h1>Welcome to TaskMarket!</h1>
    
  <ul>
    <li>
      <div id="first_task">
        <ul>
          <li class = "name">Name: {{ Requester }}</li>
          <li class = "job">Job: {{ Job }}</li>
          <li class = "location">Location: {{ Location }}</li>
          <li class = "price">Price: ${{ Price }}</li>
        </ul>
        <input class="submit-btn" type = "submit" value="Accept">
      </div><br>
      <p id="description"> asdf </p>
    </li>

    <li>
      <div id="second_task" >
        <ul>
          <li class = "name">Name: {{ Requester }}</li>
          <li class = "job">Job: {{ Job }}</li>
          <li class = "location">Location: {{ Location }}</li>
          <li class = "price">Price: ${{ Price }}</li>
        </ul>
        <input class="submit-btn" type = "submit" value="Accept">
      </div><br>
    </li>

    <li>
      <div id="third_task" >
        <ul>
          <li class = "name">Name: {{ Requester }}</li>
          <li class = "job">Job: {{ Job }}</li>
          <li class = "location">Location: {{ Location }}</li>
          <li class = "price">Price: ${{ Price }}</li>
        </ul>
        <input class="submit-btn" type = "submit" value="Accept">
      </div><br>
    </li>
  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>

