<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile_style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/task_style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Hind:400,700' rel='stylesheet' type='text/css'>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>TaskMarket</title>
</head>
<body>
  <div id='cssmenu'>
    <ul>
      <li class='active'><a href='\'>TaskMarket</a></li>
      <li><a href='\create-task'>Create Task</a></li>

      <li id="logout"><a href='/'>Logout</a></li> <!--TODO: implement-->
      <li id="profile"><a href='/profile'>Profile</a></li>
      <li><a href='\'>Home</a></li>
    </ul>
  </div>

  <header>
  </header>

  <div class="container">




    <div class="middle">
      <div id="current-jobs">
        <h2>Current Jobs</h2>
	{% for cur_job in cur_jobs %}
        <div class="other_job">
          <div class="title">{{ cur_job.title }}</div>
          <div class="other_job_info">
            <span class="employer">Employer: {{ cur_job.employer }}</span>
            <span class="price">${{ "%.2f" % cur_job.salary }}</span>
            <div class="status">{{ cur_job.status }}</div>
          </div>
        </div>
        <div style="display: none;" class="other_job_info-info">
          <div class="address_description">
            <div class="address">{{ cur_job.address }}</div>
            <div class="description">{{ cur_job.description }}</div>
          </div>
          <div class="pay_button">
       
              <input class="submit-btn" type = "submit" value="Cancel">
         
          </div>
        </div>
	{% endfor %}
      </div>
      
    </div>



    <div class="right">
      <div id = "jobs-posted">
        <h2>Jobs Posted</h2>
	{% for pjob in posted_jobs %}
        <div class="your_job">
          <div class="title">{{ pjob.title }}</div>
          <div class="your_job_info">
            <span class="employee">Accepted by: {{ pjob.accepted_by }}</span>
            <span class="price">${{ "%.2f" % pjob.salary }}</span>
            <div class="status">{{ pjob.status }}</div>
          </div>
        </div>
        <div style="display: none;" class="your_job_info-info">
          <div class="address_description">
            <div class="address">{{ pjob.address }}</div>
            <div class="your_description">{{ pjob.description }}</div>
          </div>
          <div class="pay_button">
            <a href='#'>
              <input class="submit-btn" type = "submit" value="Pay">
            </a>
          </div>
        </div>
	{% endfor %}
      </div>

    </div>
    


  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fb.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>
