<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TaskMarket</title>
  </head>
  <body>
      <div id='cssmenu'>
        <ul>
          <li class='active'><a href='#'>TaskMarket</a></li>
   
          <li><a href='#'>Logout</a></li>
          <li><a href='#'>Profile</a></li>
          <li><a href='#'>Home</a></li>
        </ul>
      </div>
     
    <header>
      <div class = "account">
        <p>Hi, <a href="#">{{ User }}</a></p>
      </div>
    </header>

    <div id = "content">
      <div id="personal-info">
        <h2 style="text-align:left; margin-bottom: 0">Your Info</h2>
        <div class="left">
          <p>Name: {{ Name }}</p>
          <p>Email: {{ Email }}</p>
        </div>
      </div>
      <div id="current-jobs">
        <h2>Your Current Jobs</h2>
        <div class = "job-name">
          <div class = "description">
            <li class = "name">Name: {{ Requester }}</li>
            <li class = "job">Job: {{ Job }}</li>
            <li class = "location">Location: {{ Location }}</li>
            <li class = "price">Price: ${{ Price }}</li>

          </div>
          
        </div>
      </div>
      
      <div id = "jobs-posted">
        <h2>Your Jobs Posted</h2>


        <div class = "job-name">
          <div class = "description">
            <li class = "name">Name: {{ Name }}</li>
            <li class = "job">Job: {{ Job }}</li>
            <li class = "location">Location: {{ Location }}</li>
            <li class = "price">Price: ${{ Price }}</li>
          </div>
          
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='navbar.js') }}"></script>
  </body>
</html>
